.texto-info-container {
  position: absolute;
  color: white;
  z-index: 1000;
  line-height: 1.2;
  font-weight: 600;
  pointer-events: none;
  text-align: left;
  user-select: none;
  white-space: normal;
  word-wrap: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
}

.texto-info-container.desktop {
  top: -260px;
  right: -450px;
  width: 450px;
  height: 120px;
  font-size: 24px;
}

.texto-info-container.mobile {
  position: absolute;
  top: -100px;
  left: 100%;           /* justo a la derecha del card */
  margin-left: -67px;     /* pequeña separación */
  width: 140px;
  height: auto;
  font-size: 11px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
}


.texto-info-titulo {
  font-weight: bold;
  color: white;
  margin-bottom: 4px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  line-height: 1.2;
}

.texto-info-subtitulo {
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 2px;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #ff1c1c;
}

.titulo-superquads-pequeno {
  font-family: 'Bangers', cursive;
  color: #e82e2e;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  white-space: nowrap;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

@media (max-width: 767px) {
  .texto-info-titulo {
    font-size: 9.5px;
  }

  .texto-info-subtitulo {
    font-size: 10px;
  }

  .titulo-superquads-pequeno {
    font-size: 14px;
    line-height: 18px;
  }
}
