.half-page-background {
  position: fixed;
  top: 72%; /* Desde la mitad de la pantalla */
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: hsla(0, 0%, 10%); /* Verde semitransparente */
  z-index: 10; /* Debajo del carrusel */
  pointer-events: none;
}

.galeria-contenedor {
  position: fixed;
  bottom: 10vh;
  width: auto; /* ajusta según contenido */
  padding-left: 20px;
  z-index: 20;
  display: flex;
  flex-direction: row; /* alinea texto y botón junto a la imagen */
  align-items: center;
  gap: 20px;
  
}


.galeria-texto {
  font-family: 'Bangers', cursive;
  font-size: 28px; /* más pequeño que antes (antes 28px) */
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  text-align: left;
  width: auto;
}

.galeria-btn {
  background-color: #e82e2e;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-size: 13px;
  transition: background 0.3s;
}

.galeria-btn:hover {
  background-color: #c61e1e;
}

.galeria-imagen {
  width: 330px;
  height: 200px;
  align-self: flex-end;
  transform: translateY(100px);
}


@media (max-width: 767px) {

  .galeria-imagen {
    width: 160px;
    height: 140px;
    transform: translateY(50px) translateX(-30px);
  }

   .galeria-texto {
    font-size: 24px; /* antes 40px, ahora más pequeño */
  }
}

