
body {
    font-size: 16px;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .circular-showcase {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust grid for tablets */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

 
    .circular-showcase {
        grid-template-columns: 1fr; 
    }

    .circular-item {
        margin-bottom: 20px; 
    }
}


@media (max-width: 480px) {
    img {
        max-width: 100%;
        height: auto;
    }
}


@media (max-width: 480px) {
    .sidebar {
        display: none;
    }
}


@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}